#back-arrow-footer {
    margin-right: 0.5vw;
    padding: 1vh;
}

#back-arrow-footer:hover {
    background-color: #e0a502;
    cursor: pointer;
}

#next-arrow-footer {
    padding: 1vh;
}

#next-arrow-footer:hover {
    background-color: #e0a502;
    cursor: pointer;
}