#back-arrow {
    min-width: 25px;
    min-height: 25px;
    max-width: 30px;
    max-height: 30px;
}

#back-arrow:hover {
    color: #e0a502;
    cursor: pointer;
}

#refresh-svg {
    margin-right: 1vh;
    min-width: 30px;
    min-height: 30px;
    max-width: 35px;
    max-height: 35px;
}

#refresh-svg:hover {
    color: #e0a502;
    cursor: pointer;
}